version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    env_file: ./.env.docker

  redis:
    image: redis:alpine
    container_name: trackd-redis

  auth-app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: auth-app
    container_name: auth-app
    env_file: ./.env.docker

  user-app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: user-app
    container_name: user-app
    env_file: ./.env.docker

  friend-app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: friend-app
    container_name: friend-app
    env_file: ./.env.docker

  user-movie:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: user-movie
    container_name: user-movie
    env_file: ./.env.docker

  notification-app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: notification-app
    container_name: notification-app
    env_file: ./.env.docker

  movie-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: movie-app
    container_name: movie-app
    env_file: ./.env.docker