name: Deploy Backend to Azure

on:
  push:
    branches:
      - main
    paths:
      - 'server/**' # Only trigger if files in the server directory change

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}/server # Point to your subdirectory
          acrName: trackdregistry  # Your Azure Container Registry name
          containerAppName: trackd-app
          resourceGroup: trackd-group